<h1>献立一覧</h1>
<%= flash[:success] %>

<div class = "test">
  <% @menus.each do |menu| %>
    <ol id = "menu-<%= menu.id %>">
      <span class=  "menu_name">
        <%= link_to menu.name, "/menus/show" %>
      </span> </br>
      <span class = "menu_ingredient">
        <%= link_to menu.ingredient, "/menus/show" %> 
      </span></br>
      <span class = "timestamp">
        <%= time_ago_in_words(menu.created_at) %> 前に投稿
      </span>
    </ol>
  <% end %>
</div>

<div>
  <%= link_to "新規投稿", "/menus/new" %>
</div>