<div class = "container">
  <div class = "row">
    <div class = "col-2  border-right">
      <div class = "new-recipe-btn">
        <%= link_to "レシピ投稿", new_menu_path, class: "btn btn-outline-info my-5" %>
      </div>
    </div>
    <div class = "col-8">
      <div class = "container">
        <div class="row justify-content-center align-items-center">
          <h1 class= "mt-5">得意料理一覧</h1>
        </div>
        <%= paginate @menus %>
        <div class = "menu-contents">
          <% @menus.each do |menu| %>
            <ol id = "menu-<%= menu.id %>" class="shadow p-3 mb-5 bg-white rounded">
            <div class= "menu-body">
              <div class=  "menu_name">
                <h5><%= link_to menu.name, menu_path(menu.id), class:"text-dark" %></h5>
              </div> 
              <div class = "row">
                <% if menu.image.present? %>
                  <%= image_tag menu.image.to_s, class:"menu_pic col-2" %>
                <% end %>
                <div class = "menu_ingredient col-8">
                  <p class= "text-secondary">材料:</p>
                  <% @ingredients = Ingredient.where(menu_id: menu.id)%>
                  <% @ingredients.each do |ingredient|%>
                    <%= link_to ingredient.item, menu_path(menu.id), class:"text-dark" %> 
                  <% end %>
                </div></br>
              </div>
            </div>
              <span class = "timestamp">
                <%= l menu.created_at, format: :short %>
              </span>
              <%= link_to "編集", edit_menu_path(menu.id)%>

              <%= link_to "削除", menu_path(menu.id), method: :delete,
                                                      data: {confirm: "削除してよろしいですか？"}, class:"text-danger"%>
            </ol>
          <% end %>
        </div> 
        <%= paginate @menus %>
      </div>
    </div>
  </div>
</div>
