<div class = "menu-contents">
  <% @menus.each do |menu| %>
    <ol id = "menu-<%= menu.id %>">

    <div class = "menu-body">
      <span class=  "menu_name">
        <%= link_to menu.name, menu_path(menu.id) %>
      </span> </br>

      <span class = "menu_ingredient">
        <% @ingredients = Ingredient.where(menu_id: menu.id)%>
        <% @ingredients.each do |ingredient|%>
          <%= link_to ingredient.item, menu_path(menu.id) %> 
        <% end %>
      </span></br>
    </div>
    
    <% if menu.image.present? %>
      <%= image_tag menu.image.to_s, class:"menu_pic" %>
      </br>
    <% end %>

      <span class = "timestamp">
        <%= l menu.created_at, format: :short %>
      </span>

      <%= link_to "編集", edit_menu_path(menu.id)%>

      <%= link_to "削除", menu_path(menu.id), method: :delete,
                                              data: {confirm: "削除してよろしいですか？"} %>
    </ol>

  <% end %>
</div>