<div class = "menu_show">

  <% if @menu.image.present? %>
    <div class = "menu_image" >
      <%= image_tag @menu.image.to_s %>
    </div>
  <% end %>

  <div class = "menu_name" >
    <h5>料理名</h5>
    <%= @menu.name %>
  </div>
  </br>

  <div class = "menu_ingredient" >
    <p>材料</p>
      <% @ingredients.each do |ingredient|%>
      <ul>
        <li>
          <%= ingredient.item %>
          ・・・
          <%= ingredient.quantity %></br>
        </li>
      </ul>
      <% end %>
    </div>
  </br>

  <div class = "menu_preparation" >
    <p>作り方</p>
      <% while @n <= @preparations.count %>
        <% @preparations.each do |preparation|%>
          <%= @n %>.
          <%= preparation.step %></br>
          <% @n += 1 %>
        <% end %>
      <% end %>
    </div>
  </br>

<% if @menu.memo.present?%>
  <div class = "menu_memo" >
    <p>お料理メモ</p>
    <%= @menu.memo %>
  </div>
  </br>
<% end %>

  <div class = "menu_genre" >
    <p>料理ジャンル</p>
    <%= @menu.genre.name %>の<%= @menu.type.name %>
  </div>
</div>