<div class = "container">
  <div class = "row">
    <div class = "col-2">
      <%= link_to "レシピ投稿", new_menu_path, class: "btn btn-outline-info my-5" %>
    </div>
    <div class = "col-8">
      <%= will_paginate @menus %>
      <div class = "menu-contents">
        <% @menus.each do |menu| %>
          <ol id = "menu-<%= menu.id %>">
            <div class = "menu-body">
              <span class=  "menu_name">
                <%= link_to menu.name, menu_path(menu.id) %>
              </span> </br>

              <span class = "menu_ingredient">
                <% @ingredients = Ingredient.where(menu_id: menu.id)%>
                <% @ingredients.each do |ingredient|%>
                  <%= link_to ingredient.item, menu_path(menu.id) %> 
                <% end %>
              </span></br>
            
              <% if menu.image.present? %>
                <%= image_tag menu.image.to_s, class:"menu_pic" %>
                </br>
              <% end %>

              <span class = "timestamp">
                <%= l menu.created_at, format: :short %>
              </span>
            </div>
            <%= link_to "編集", edit_menu_path(menu.id)%>

            <%= link_to "削除", menu_path(menu.id), method: :delete,
                                                    data: {confirm: "削除してよろしいですか？"} %>
          </ol>
        <% end %>
      </div> 
      <%= will_paginate @menus %>
  </div>
</div>
