<div class = "pickup-btns">  
  <div class ="text-center common-btn">
    <%= link_to "Pick Up", home_common_recipe_path, class: "btn btn-outline-success" %>
      <p> From <%= @menus.count %> Recipes</p>
  </div></br>
  <div class ="text-center my-btn">
    <% if user_signed_in?%>
      <%= link_to "Pick Up", home_my_recipe_path, class: "btn btn-outline-danger" %>
        <p>From My <%= @original_menus.count %> Recipes</p>
    <% end %> 
  </div></br>
  <div class ="text-center">
    <% if user_signed_in?%>
      <%= link_to "レシピ投稿", new_menu_path, class: "btn btn-outline-info" %>
    <% end %> 
  <div>
</div>